<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MultipleMimeApp</display-name>
  <!-- cfg html based comp -->
  <servlet>
  <servlet-name>html</servlet-name>
  <servlet-class>com.nit.servlet.HtmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>html</servlet-name>
  <url-pattern>/htmlurl</url-pattern>
  </servlet-mapping>
  
  <!-- cfg excel bsed comps -->
  <servlet>
  <servlet-name>excel</servlet-name>
  <servlet-class>com.nit.servlet.ExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>excel</servlet-name>
  <url-pattern>/excelurl</url-pattern>
  </servlet-mapping>
  
   <!-- cfg ms-word bsed comps -->
  <servlet>
  <servlet-name>ms-word</servlet-name>
  <servlet-class>com.nit.servlet.WordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ms-word</servlet-name>
  <url-pattern>/wordurl</url-pattern>
  </servlet-mapping>
  
   <!-- cfg Plain text bsed comps -->
  <servlet>
  <servlet-name>plain</servlet-name>
  <servlet-class>com.nit.servlet.PlainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>plain</servlet-name>
  <url-pattern>/plainurl</url-pattern>
  </servlet-mapping>
  
   <!-- cfg xml bsed comps -->
  <servlet>
  <servlet-name>xml</servlet-name>
  <servlet-class>com.nit.servlet.XmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>xml</servlet-name>
  <url-pattern>/xmlurl</url-pattern>
  </servlet-mapping>
</web-app>